* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
  background-color: rgb(25, 25, 25);
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
}
.btn{
  position: relative;
  padding: 1rem 3rem;
  font-size: 1.3rem;
  background-color: rgb(145, 0, 75);
  color: antiquewhite;
  border: 0;
  border-radius: 10px;
  box-shadow: rgba(70, 70, 70, 0.8) 0px 50px 100px -20px, rgba(0, 0, 0, 0.8) 0px 30px 60px -30px, rgba(0, 0, 0, 0.8) 0px -2px 6px 0px inset;
  cursor: pointer;
  overflow: hidden;
}
.shadow{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(0);
  animation: scale .5s ease;
}
@keyframes scale {
  to{
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}